@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   font-family: 'Poppins',san-serif;
 
}

html{
  background:black;
scroll-behavior: smooth;
}
/*  */
h1{
  color:white;
  font-size: 30px;
  padding-top: 5%;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  position: relative;
}
h1::after{
  content: '';
  background: #c061cb;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.team p{
  text-align:center;
}
header{
  width:100%;
  height: 105vh;
  background:radial-gradient(black,rgba(0,0,0,0.2) ,black 90% ), url("pexels-julian-paolo-dayag-1210543.jpg");
  background-size: cover;
}
nav{
  padding-top:3%;
  width: 100%;
  height:100px;
  color:white;
  display: flex;
  justify-content: space-around;
align-items: center;
}
.logo{
  margin-right:-7%;

  width:20%;
  height:auto;
}
.logo img{
  width: 100%;
  height: auto;
}
.menu a{
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  font-size: 20px;
  position: relative;

}

.menu a:before{
  content: '';
  position:absolute;
 top:0;
  left: 0;
  width: 0%;
  height: 100%;
  border-bottom: 2px solid #D273F8;  
  transition:0.4s linear;
}

.menu a:hover:before{
margin-left: 12px;
  width: 80%;
}
.register a{
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  padding:10px 20px;
  font-size: 20px;
  background: #a600ff;
  border-radius: 4px;
  transition: 0.4s;
}
.register a:hover{
  background:transparent;
  border:1px solid #a600ff;
}

.h-txt{
  max-width: 650px;
  position: absolute;
  top :50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align:center;
  color: white; 
}

.h-txt span{
  letter-spacing: 5px;
}

.h-txt h1{
  font-size: 3.5em;
}

.h-txt a{
  font-family:sans-serif;
text-decoration:none;
  background: #a600ff;
  color: white;
   padding:10px 20px;
  font-size:20px;
  border-radius: 4px;
  letter-spacing: 3px;
  transition: 0.4s;
}
.h-txt a:hover{
  background:transparent;
  border:1px solid #a600ff;
}
.Contact{
    margin-top:10%;
    /* margin-left: 2%;
  margin-right: 2%; */
  position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    color:white;
  background:black;
  padding-bottom: 5%;
}
.content h2
{
   margin-top: 2%;
    font-size: 2.5em;
    font-weight: 600;
   letter-spacing: 5px;
    color: white ;
}
.Contact .content p
{
    font-weight: 300;
    color: black;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px; */
    background: white;
  color:black;
}
.container .contactinfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactinfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3
{
    font-weight: 500;
    color: #a600ff;
}
.contactForm
{
    width: 40%;
    padding: 40px;
    background: #ffffff;
}
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
      width: 90%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:focus ~ span
{
    color: #c061cb;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox .button{
  margin-top: 2%;
text-decoration:none;
  background: #a600ff;
  color: white;
   padding:8px 20px;
  font-size:20px;
  transition: 0.4s;
}
.contactForm .inputBox a{
  margin-top: 2%;
text-decoration:none;
  background: #a600ff;
  color: white;
   padding:8px 20px;
  font-size:20px;
  transition: 0.4s;
}.contactForm .inputBox button:hover{
  color: #a600ff;
  background:transparent;
  border:1px solid #a600ff;}

.team{
  color: black  ;
  background:white;
  position:relative;
  width: 100%;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  	transform: translateY(-10px);
}
.team-content{
  width:100%;
  max-width:1000px;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(150px, auto));
  align-items:center;
  gap:2rem;
  text-align:center;
  margin-top:4rem;
}
.team-content img{
  
  vertical-align:middle;
  width:100%;
  height:auto;
  border-radius: 50%;
  margin-bottom:15px;
  margin-left:10px;
  background:white;
}
.center h1{
  color:black;
  font-size:4rem;
  text-align:center;
}
.team .box{
  padding:  16px;  
  border-radius: 15px;
  transition: all .38s ease;
}
.team .box h3{
	font-size: 23px;
	font-weight: 600;
	color: black;
	margin-bottom: 8px;
}
.team .box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: black;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.team .box:hover{
	transform: translateY(-10px);
	cursor:default;
}

.service_container{
margin-top: 20px;
  /* margin-left:2%;
  margin-right: 2%; */
  /* max-width: 1300px; */
 align-items: center;
  position: relative;
  color:white;
  flex-direction:column;
  padding-bottom: 5%;
}
.service_container .row{
  padding-left: 10%;
  padding-right: 10%;
 /* max-width: 1250px; */
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
  grid-gap: 50px;
  justify-content: space-between;
  background: white;
  color: black;
  /* border-radius: 25px; */
}
.service{
  
  text-align: center;
  padding:50px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: default;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}
.service i{
  font-size: 40px;
  margin-bottom: 10px;
  color:#c061cb;
}
.service h2{
  font-weight: 600;
  margin-bottom: 8px;
}
.service:hover{
  background: #c061cb;
  color: #fff;
  transform: scale(1.05);
}
.service:hover i{
  color: #fff;
}
.alert{

    color: white;
  text-align: center;
align-items: center;
}

@media (max-width: 991px)
{
    .Contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column ;
    }
    .container .contactinfo
    {
        margin-bottom: 40px;
    }
    .container .contactinfo,.contactForm
    {
        width: 100%;
    }
} 
