<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
  
</head>

<body>
  <header>
    <nav id="home">
      <div class="logo"><img src="static/unnamed.png"></div>
      <div class="menu">
        <a href="#home">Home</a>
        <a href="#service">Services</a>
        <a href="#about">About Us</a>
        <a href="#contact">Contact Us</a>

      </div>
      <div class="register">
        <a href="/login">Log In / Register</a>
      </div>
    </nav>

{% if messages %}
{% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
{{ message }}  
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
</div>
    {% endfor %}
{% endif %}
    </div>
  </header>
  <main>
    <section class="h-txt">
      <br>
      <br>
      <br>
      <span>Hello Developers</span>
      <h1>Welcome to CodePost</h1>
      <br>
      <p>The premier online community for sharing and discovering code snippets. Our mission is to provide a platform
        that empowers developers to collaborate, learn, and improve their coding skills.</p>
      <br>
      <a href="/login"> Join Us</a>
      <!-- <br>
    <br>
    <h2>OR</h2>
    <br>
    <form action="#" class="search-bar">
      <input type="text" placeholder="Search..">
      <button type="submit"><i class='bx bx-search'></i></button>
    </form> -->
    </section>
    <section id="service">

      <div class="service_container">
        <h1>Our Service</h1>
        <div class="row">
          <div class="service">
            <i class="ri-code-box-line"></i>
            <h2>Code Sharing</h2>
            <p>User can share there code</p>
          </div>
          <div class="service">
            <i class="ri-line-chart-line"></i>
            <h2>Search and Discovery</h2>
            <p>User can search code by keyword</p>
          </div>
          <div class="service">
            <i class="ri-pie-chart-2-line"></i>
            <h2>Rating and Comment</h2>
            <p>User can Rate and Comment on code.</p>
          </div>
          <div class="service">
            <i class="ri-smartphone-line"></i>
            <h2>Learning Resource</h2>
            <p>User can learn by other user code</p>
          </div>
          <div class="service">
            <i class="ri-price-tag-3-line"></i>
            <h2>Categorize and Tag</h2>
            <p>Allows User to Categorize code by adding tags.</p>
          </div>

        </div>
      </div>
    </section>

    <h1>About Us</h1>
    <br>
    <section class="team" id="about">
      <br>
      <h2>Want To Know More About CodePost?</h2>
      <br>
      <p>At CodePost, we believe that the best way to learn and grow as a developer is through collaboration and
        community. Our platform makes it easy to share code snippets with others, get feedback and comments, and
        discover new techniques and approaches.</p>
      <br>
      <h2>Our Team</h2>
      <div class="team-content">
        <div class="box">
          <img src="static/woman.png">
          <h3>Ayesha Irshad</h3>
          <h5>Team Lead</h5>
          <div class="icons">
            <a href="#"><i class="ri-twitter-fill"></i></a>
            <a href="#"><i class="ri-linkedin-fill"></i></a>
          </div>
        </div>

        <div class="box">
          <img src="static/archaeologist.png">
          <h3>Muhammad Ahmed</h3>
          <h5>Frontend Developer</h5>
          <div class="icons">
            <a href="#"><i class="ri-twitter-fill"></i></a>
            <a href="#"><i class="ri-linkedin-fill"></i></a>
          </div>
        </div>

        <div class="box">
          <img src="static/gamer.png">
          <h3>Nizam</h3>
          <h5>Backend Developer & Database</h5>
          <div class="icons">
            <a href="#"><i class="ri-twitter-fill"></i></a>
            <a href="#"><i class="ri-linkedin-fill"></i></a>
          </div>
        </div>

        <div class="box">
          <img src="static/man.png">
          <h3>Muhammad Murad</h3>
          <h5>Backend Developer</h5>
          <div class="icons">
            <a href="#"><i class="ri-twitter-fill"></i></a>
            <a href="#"><i class="ri-linkedin-fill"></i></a>
          </div>
        </div>
      </div>
    </section>

    <section class="Contact" id="contact">
      <div class="content">
        <h1>Contact Us</h1>
      </div>
      <div class="container">
        <div class="contactinfo">
          <div class="box">
            <div class="icon"><i class='bx bxs-map'></i></div>
            <div class="text">
              <h3>Address</h3>
              <p>Bangalow # E/29,Street # 01,Unit # 06,<br>Latifabad, Hyderabad<br>Pakistan</p>
            </div>
          </div>
          <br>
          <div class="box">
            <div class="icon"><i class='bx bx-phone'></i></div>
            <div class="text">
              <h3>Phone</h3>
              <p>+921234567891</p>
            </div>
          </div>
          <br>
          <div class="box">
            <div class="icon"><i class='bx bx-envelope'></i></div>
            <div class="text">
              <h3>Email</h3>
              <p>noemail@gmail.org</p>
            </div>
          </div>
          <br>
        </div>
        <div class="contactForm">
          <form method="POST" action="/submit_contact">
            <h2>Send Message</h2>
            {% csrf_token %}
            <div class="inputBox">
              <input type="text" name="name" required="required">
              <span>Full Name</span>
            </div>
            <div class="inputBox">
              <input type="text" name="email" required="required">
              <span>Email</span>
            </div>
            <div class="inputBox">
              <input type="text" name="message" required="required"></input>
              <span>Type Your Message......</span>
            </div>
<div class="inputBox"> 
              <button type="submit" class="button">Send</button>
</div>
          </form>


</div>
      </div>
    </section>
  </main>
  <script src="script.js"></script>
  <script src="https://unpkg.com/boxicons@2.1.3/dist/boxicons.js"></script>

  <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
</body>

</html>